RewriteEngine On

#Если файл или папка существует  - не трогаем
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# все остальное, роуты, например, должно толкаться в index.php
RewriteRule ^(.*)$ index.php [QSA,L]